@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before
{
    box-sizing: border-box;
}

/*Estilos globais*/
body
{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(238, 236, 236);
}
.container
{
    width: 100%;
    padding: 0 1.2em;
}

/*cabeçalho*/
.cabecalho
{
    background: white;
    display: flex;
    flex-wrap: wrap;
    height: 3.125em;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: 3.2em;
    position: fixed;
    top: 0;
    border-bottom: 1.3px solid rgba(0, 0, 0, .2);
    backface-visibility: hidden;
}
.cabecalho__logo
{
    width: 45%;
}
.cabecalho__icon
{
    font-size: 1.1em;
    align-self: center;
}

/*stories*/
.stories
{
    display: flex;
    padding: 5em 0 1.375em 0;
}
.stories__content
{
    width: 21%;
    margin-right: 1.5em;
}
.stories__content__image
{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.stories__content--unviwed
{
    padding: .7%;
    background-image: linear-gradient(to top right, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D,
    #E1306C, #C13584, #833AB4, #5851DB);
    border-radius: 50%;
}
.stories__content--internal
{
    background-color: white;
    display: block;
    border-radius: 50%;
    padding: 2%;
    height: 100%;
}
/*postagens*/
.posts
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border: 1.4px solid rgba(0, 0, 0, .2);
    margin-bottom: 2.875em;
}
.posts__header
{
    display: flex;
    justify-content: space-between;
    padding: .875em 1em .375em 1em;
    height: 5.1em;
}
.posts__user
{
    display: flex;
}
.posts__userpic--link
{
    width: 20%;
    margin-right: .375em;
}
.posts__userpic
{
    width: 90%;
    border-radius: 50%;
}
.posts__username
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    align-self: center;
}
.posts__icon
{
    align-self: center;
    font-size: 1.375em;    
}
.posts__foto
{
    width: 100%;
}

/*Reações*/
.posts__reacoes
{
    background: white;
    padding: .875em;
    display: flex;
    justify-content: space-between;
}
.posts__reacoes__icons
{
    font-size: 1.75em;
}
.posts__reacoes__icons:first-child
{
    margin-right: .875em;
}

/*comentários*/
.posts__curtidas
{
    display: flex;
    background-color:  rgb(238, 236, 236);
    padding: .875em .375em .375em .375em;
    height: 5.1em;
}
.posts__curtidas__foto
{
    width: 100%;
    border-radius: 50%;
    align-self: center;
}
.posts__curtidas__foto--link
{
    width: 15%;
    margin-right: .575em;
}
.posts__curtidas__texto
{
    font-weight: 500;
    font-size: .9375em;
    margin:0;
    align-self: center;
}
.posts__curtidas__texto--selecionado
{
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin: 0;
}